## Exercise 6: Regression II

In [1]:
import numpy as np
import pandas as pd
import statsmodels.api as sm

### Task 1: Logistic Regression with statsmodels

Again, we revisit the Student Performance dataset. This time however, we do not focus on predicting test performance, but on predicting whether a student has taken the test preparation course.

In [2]:
df = pd.read_csv("StudentsPerformance.csv")
df.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

#### a) Fitting and Model Analysis

Preprocess the data like in the previous exercise, i.e. transform categorical variables and remove highly correlated predictors. Then, fit a logistic regression model with ```statsmodels``` which aims to predict the completion of a test preparation course model. Which predictors appear significant?

In [3]:
df.columns = ["_".join(column.split()) for column in df.columns]
df.columns = ["_".join(column.split("/")) for column in df.columns]
df = pd.get_dummies(df, drop_first = True)
df

,math_score,reading_score,writing_score,gender_male,race_ethnicity_group B,race_ethnicity_group C,race_ethnicity_group D,race_ethnicity_group E,parental_level_of_education_bachelor's degree,parental_level_of_education_high school,parental_level_of_education_master's degree,parental_level_of_education_some college,parental_level_of_education_some high school,lunch_standard,test_preparation_course_none
0,72,72,74,0,1,0,0,0,1,0,0,0,0,1,1
1,69,90,88,0,0,1,0,0,0,0,0,1,0,1,0
2,90,95,93,0,1,0,0,0,0,0,1,0,0,1,1
3,47,57,44,1,0,0,0,0,0,0,0,0,0,0,1
4,76,78,75,1,0,1,0,0,0,0,0,1,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,88,99,95,0,0,0,0,1,0,0,1,0,0,1,0
996,62,55,55,1,0,1,0,0,0,1,0,0,0,0,1
997,59,71,65,0,0,1,0,0,0,1,0,0,0,0,0
998,68,78,77,0,0,0,1,0,0,0,0,1,0,1,0
999,77,86,86,0,0,0,1,0,0,0,0,1,0,0,1

In [4]:
#high_corr = (df.corr() > 0.9).to_numpy()

In [5]:
print(np.where(df.iloc[:,:].corr() > 0.9))

(array([ 0,  1,  1,  2,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14],
      dtype=int64), array([ 0,  1,  2,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14],
      dtype=int64))

In [6]:
df = df.drop(labels="reading_score", axis=1)
df

,math_score,writing_score,gender_male,race_ethnicity_group B,race_ethnicity_group C,race_ethnicity_group D,race_ethnicity_group E,parental_level_of_education_bachelor's degree,parental_level_of_education_high school,parental_level_of_education_master's degree,parental_level_of_education_some college,parental_level_of_education_some high school,lunch_standard,test_preparation_course_none
0,72,74,0,1,0,0,0,1,0,0,0,0,1,1
1,69,88,0,0,1,0,0,0,0,0,1,0,1,0
2,90,93,0,1,0,0,0,0,0,1,0,0,1,1
3,47,44,1,0,0,0,0,0,0,0,0,0,0,1
4,76,75,1,0,1,0,0,0,0,0,1,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,88,95,0,0,0,0,1,0,0,1,0,0,1,0
996,62,55,1,0,1,0,0,0,1,0,0,0,0,1
997,59,65,0,0,1,0,0,0,1,0,0,0,0,0
998,68,77,0,0,0,1,0,0,0,0,1,0,1,0
999,77,86,0,0,0,1,0,0,0,0,1,0,0,1

In [7]:
y_none = df.test_preparation_course_none
y_none

0      1
1      0
2      1
3      1
4      1
      ..
995    0
996    1
997    0
998    0
999    1
Name: test_preparation_course_none, Length: 1000, dtype: uint8

In [8]:
y = [y_in_none ^ 1 for y_in_none in y_none]
y

[0,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 1,
 1,
 0,
 1,
 0,
 0,
 1,
 0,
 1,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 1,
 1,
 0,
 0,
 0,
 1,
 0,
 1,
 1,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 0,
 1,
 0,
 0,
 1,
 1,
 0,
 1,
 0,
 1,
 1,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 0,
 1,
 1,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 1,
 1,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 1,
 1,
 1,
 1,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 1,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 1,
 0,
 1,
 1,
 1,
 0,
 1,
 0,
 1,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 0,
 1,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 1,
 0,
 1,
 0,
 1,
 0,
 1,
 1,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 0,
 0,
 0,
 1,
 1,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 1,
 1,
 0,
 0,
 1,
 1,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 1,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 1,
 0,
 1,
 1,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 1,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 0,
 0,
 1,
 1,
 1,
 1,
 0,
 1,
 0,
 1,
 1,
 0,
 0,
 1,
 1,
 1,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 1,
 1,
 0,
 0,
 0,
 1,
 1,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 1,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 1,
 0,
 1,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 1,
 0,
 1,
 0,
 1,
 0,
 1,
 1,
 0,
 0,
 0,
 1,
 1,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 1,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 1,
 1,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 1,
 1,
 0,
 0,
 1,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 1,
 0,
 1,
 0,
 1,
 1,
 1,
 0,
 0,
 0,
 1,
 1,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 1,
 1,
 0,
 1,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 1,
 0,
 1,
 1,
 1,
 0,
 0,
 0,
 1,
 0,
 1,
 1,
 0]

In [9]:

X = df.iloc[:,:-1]
X = sm.add_constant(X)
X

C:\Users\vahee\anaconda3\lib\site-packages\statsmodels\tsa\tsatools.py:142: FutureWarning: In a future version of pandas all arguments of concat except for the argument 'objs' will be keyword-only
  x = pd.concat(x[::order], 1)

,const,math_score,writing_score,gender_male,race_ethnicity_group B,race_ethnicity_group C,race_ethnicity_group D,race_ethnicity_group E,parental_level_of_education_bachelor's degree,parental_level_of_education_high school,parental_level_of_education_master's degree,parental_level_of_education_some college,parental_level_of_education_some high school,lunch_standard
0,1.0,72,74,0,1,0,0,0,1,0,0,0,0,1
1,1.0,69,88,0,0,1,0,0,0,0,0,1,0,1
2,1.0,90,93,0,1,0,0,0,0,0,1,0,0,1
3,1.0,47,44,1,0,0,0,0,0,0,0,0,0,0
4,1.0,76,75,1,0,1,0,0,0,0,0,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,1.0,88,95,0,0,0,0,1,0,0,1,0,0,1
996,1.0,62,55,1,0,1,0,0,0,1,0,0,0,0
997,1.0,59,65,0,0,1,0,0,0,1,0,0,0,0
998,1.0,68,77,0,0,0,1,0,0,0,0,1,0,1
999,1.0,77,86,0,0,0,1,0,0,0,0,1,0,0

In [10]:
model = sm.OLS(y,X)
results = model.fit()
results.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                      y   R-squared:                       0.233
Model:                            OLS   Adj. R-squared:                  0.222
Method:                 Least Squares   F-statistic:                     22.98
Date:                Mon, 26 Sep 2022   Prob (F-statistic):           1.72e-48
Time:                        20:55:47   Log-Likelihood:                -551.42
No. Observations:                1000   AIC:                             1131.
Df Residuals:                     986   BIC:                             1200.
Df Model:                          13
Covariance Type:            nonrobust
=================================================================================================================
                                                    coef    std err          t      P>|t|      [0.025      0.975]
-----------------------------------------------------------------------------------------------------------------
const                                            -0.6194      0.088     -7.025      0.000      -0.792      -0.446
math_score                                       -0.0250      0.002    -10.697      0.000      -0.030      -0.020
writing_score                                     0.0355      0.002     15.160      0.000       0.031       0.040
gender_male                                       0.4551      0.042     10.856      0.000       0.373       0.537
race_ethnicity_group B                            0.0241      0.055      0.442      0.659      -0.083       0.131
race_ethnicity_group C                           -0.0005      0.051     -0.010      0.992      -0.101       0.100
race_ethnicity_group D                           -0.0990      0.052     -1.887      0.059      -0.202       0.004
race_ethnicity_group E                            0.1419      0.059      2.392      0.017       0.025       0.258
parental_level_of_education_bachelor's degree    -0.0567      0.048     -1.169      0.243      -0.152       0.038
parental_level_of_education_high school           0.0250      0.042      0.594      0.553      -0.058       0.108
parental_level_of_education_master's degree      -0.1276      0.063     -2.039      0.042      -0.250      -0.005
parental_level_of_education_some college          0.0002      0.040      0.005      0.996      -0.078       0.079
parental_level_of_education_some high school      0.1383      0.043      3.215      0.001       0.054       0.223
lunch_standard                                   -0.0368      0.030     -1.214      0.225      -0.096       0.023
==============================================================================
Omnibus:                      244.275   Durbin-Watson:                   1.928
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               67.442
Skew:                           0.389   Prob(JB):                     2.27e-15
Kurtosis:                       1.994   Cond. No.                         821.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [11]:
#Logistic regression
model_reg = sm.Logit(y, X)
results_reg = model_reg.fit()
results_reg.summary()

Optimization terminated successfully.
         Current function value: 0.519176
         Iterations 6

<class 'statsmodels.iolib.summary.Summary'>
"""
                           Logit Regression Results
==============================================================================
Dep. Variable:                      y   No. Observations:                 1000
Model:                          Logit   Df Residuals:                      986
Method:                           MLE   Df Model:                           13
Date:                Mon, 26 Sep 2022   Pseudo R-squ.:                  0.2040
Time:                        20:56:00   Log-Likelihood:                -519.18
converged:                       True   LL-Null:                       -652.26
Covariance Type:            nonrobust   LLR p-value:                 2.783e-49
=================================================================================================================
                                                    coef    std err          z      P>|z|      [0.025      0.975]
-----------------------------------------------------------------------------------------------------------------
const                                            -6.5128      0.602    -10.819      0.000      -7.693      -5.333
math_score                                       -0.1408      0.015     -9.562      0.000      -0.170      -0.112
writing_score                                     0.2029      0.016     12.476      0.000       0.171       0.235
gender_male                                       2.5808      0.264      9.774      0.000       2.063       3.098
race_ethnicity_group B                            0.2198      0.316      0.694      0.487      -0.401       0.840
race_ethnicity_group C                            0.0452      0.294      0.154      0.878      -0.532       0.622
race_ethnicity_group D                           -0.5261      0.305     -1.725      0.085      -1.124       0.072
race_ethnicity_group E                            0.8554      0.340      2.519      0.012       0.190       1.521
parental_level_of_education_bachelor's degree    -0.3618      0.271     -1.334      0.182      -0.893       0.170
parental_level_of_education_high school           0.1344      0.244      0.552      0.581      -0.343       0.612
parental_level_of_education_master's degree      -0.7112      0.355     -2.005      0.045      -1.406      -0.016
parental_level_of_education_some college         -0.0260      0.227     -0.114      0.909      -0.471       0.419
parental_level_of_education_some high school      0.7492      0.243      3.084      0.002       0.273       1.225
lunch_standard                                   -0.2120      0.173     -1.229      0.219      -0.550       0.126
=================================================================================================================
"""

#### b) Diagnostics 1: Accuracy and Confusion Matrix

Write a two functions that take as input a vector `y` of the true classes, and a vector `y_hat` of the predicted classes. Let the first one return the accuracy of the prediction, i.e. the ratio of correctly predicted samples, and the second one compute the confusion matrix as introduced in class. Use the function signatures specified in the cells below.
Apply your functions on your predictions from a).

In [12]:
y_hat = results_reg.predict(X)
y_hat = [y > 0.5 for y in y_hat]
y_hat = [int(y) for y in y_hat]
y_hat = np.asarray(y_hat)
y = np.asarray(y)

In [13]:
y

array([0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1,
       0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1,
       0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 1, 0, 1, 1, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 0, 0,
       1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1,
       1, 1, 1, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1, 0, 1, 0,
       0, 1, 1, 0, 1, 0, 1, 1, 0, 0, 0, 1, 1, 1, 1, 1, 1, 0, 0, 0, 1, 1,
       1, 1, 1, 1, 1, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 1, 0,
       0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 1, 1, 1, 1, 0, 0, 1,
       1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0,
       0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 1, 1, 1, 0, 0,
       0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 1,
       1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 1, 1, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0,
       0, 0, 0, 0, 1, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0,
       0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0,
       1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 1,
       0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0,
       0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 1, 1, 1, 1, 0, 1, 1, 0, 1, 0,
       0, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1,
       1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0,
       0, 0, 1, 0, 0, 1, 1, 0, 1, 0, 1, 0, 1, 1, 1, 0, 0, 0, 1, 0, 0, 0,
       0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 1, 1, 1, 0, 0, 0, 0, 1, 0, 1, 0,
       0, 0, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 0, 0, 1, 1, 1, 0, 0,
       0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1, 0,
       0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0,
       0, 0, 0, 1, 0, 0, 1, 1, 0, 1, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 1,
       0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 1, 1, 1, 1, 1, 0, 0, 0, 0,
       0, 1, 1, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 1, 0, 1, 0,
       1, 0, 0, 0, 0, 1, 1, 1, 0, 0, 1, 1, 1, 1, 0, 1, 0, 1, 1, 0, 0, 1,
       1, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0,
       0, 1, 1, 0, 1, 1, 0, 0, 0, 1, 1, 1, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0,
       0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0,
       0, 1, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1,
       0, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 1, 0, 1,
       0, 1, 1, 0, 0, 0, 1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       1, 0, 0, 0, 1, 1, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0,
       1, 1, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 1, 1, 0, 0,
       1, 1, 0, 0, 0, 1, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0,
       0, 1, 0, 1, 1, 0, 1, 0, 1, 1, 1, 0, 0, 0, 1, 1, 1, 0, 0, 1, 0, 0,
       0, 0, 1, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0,
       0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 1,
       1, 1, 0, 0, 0, 1, 0, 1, 1, 0])

In [14]:
print(y==y_hat)

[ True  True  True  True False  True False  True  True  True  True  True
  True False  True False False  True False  True  True False  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True False  True
  True  True  True False  True  True  True  True  True  True False  True
  True  True  True  True  True  True  True  True  True  True False False
  True  True  True  True  True  True False  True  True  True False  True
  True  True False  True  True  True  True  True False  True False  True
  True False  True  True  True  True  True False  True  True False  True
 False  True  True  True  True  True  True  True  True  True  True  True
 False  True False  True  True  True False  True  True  True  True False
 False False False  True False  True  True False  True  True False  True
  True  True  True  True False  True  True  True False  True  True  True
  True  True  True  True False  True  True  True False False False  True
 False False  True False  True  True False False False False False  True
  True False  True  True  True  True  True  True  True  True  True  True
  True False  True  True  True  True  True  True  True  True False  True
  True  True  True  True  True  True  True  True  True False  True  True
  True  True False False  True  True  True  True  True  True  True  True
 False False  True  True False False  True  True  True False  True False
 False  True  True  True  True  True  True False  True  True False  True
 False  True  True  True  True  True  True  True  True  True  True  True
  True  True False  True False  True  True  True  True  True False  True
  True  True False  True  True  True  True False  True  True  True False
  True  True  True  True False  True  True  True False  True  True  True
  True  True  True  True False False False  True  True  True  True  True
 False False False  True False False False  True  True  True  True  True
  True False  True  True False  True  True  True False  True False  True
 False  True  True  True  True  True False False  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True False  True  True False  True  True
 False  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True False  True  True False  True  True
  True False  True  True False  True  True  True  True  True False  True
 False  True False  True  True  True  True  True False  True  True False
  True False False  True  True  True False False  True  True  True  True
  True  True  True False  True  True  True  True False  True  True  True
 False  True  True  True  True  True  True  True  True  True  True False
  True  True  True False  True  True  True False False  True  True False
  True  True False  True  True  True False False False  True  True  True
 False  True  True  True  True False  True False False  True  True  True
  True  True  True False  True  True  True False  True False  True False
  True  True  True  True  True  True  True  True  True False  True  True
  True False  True  True  True  True  True  True False  True  True  True
  True  True False  True False  True False  True  True  True False False
 False  True  True  True  True  True  True False  True  True  True  True
  True  True  True  True  True False False  True False  True  True  True
  True  True  True False  True  True  True False  True False  True  True
 False False False  True False False  True False  True  True False  True
  True False  True  True  True  True  True False  True  True  True False
  True  True  True  True  True  True  True  True  True  True False  True
  True  True False  True  True  True  True  True  True  True False False
  True  True False  True  True False False  True  True False False  True
  True  True  True  True False  True False  True  True  True  True  True
  True False  True False  True False  True  True  True  True  True  True
 False  True  True  True  True False False False  True False  True  True
  True  True False False False False  True  True  True  True  True False
  True  True False  True  True False  True  True  True  True  True  True
  True  True  True  True False False  True  True False False  True  True
  True False  True  True  True False  True  True  True False  True  True
  True  True  True  True  True False  True False  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True False
  True False False  True  True  True False False False  True  True False
  True  True False  True  True  True  True  True  True  True  True False
  True  True  True  True  True False  True  True  True  True False  True
  True  True False False False False False  True  True  True  True  True
 False  True  True  True  True False  True  True  True  True False  True
  True False  True  True  True  True  True  True False  True False  True
  True  True  True False  True False  True False  True  True False False
  True  True  True  True  True  True  True  True  True False False  True
  True  True False  True  True False False  True  True  True  True  True
 False  True  True  True  True False False  True  True  True False False
 False  True  True  True  True  True  True False  True False  True  True
 False  True False  True  True False  True  True  True  True  True False
  True  True  True  True False False  True  True  True  True False  True
 False  True False False False  True  True  True  True  True  True False
 False False  True  True  True  True  True  True  True  True  True  True
  True False  True False False  True  True  True  True  True  True  True
  True  True  True False False False  True  True  True  True False  True
  True  True  True False  True False  True  True False  True  True  True
  True  True False  True  True  True  True  True  True  True False False
 False  True  True False False  True False  True  True False  True  True
 False  True  True  True  True  True  True  True False  True  True  True
  True False False  True]

In [15]:
def accuracy(y,y_hat):
    """
    :param y: 1-dimensional array of true target values
    :param y_hat: 1-dimensional array of predicted target values
    :return: AUC score as float
    """
    # your code here
    print(sum(y==y_hat))
    return sum(y==y_hat)*1.0/len(y)

In [16]:
print(accuracy(y,y_hat))

742
0.742

In [17]:
def confusion_matrix(y,y_hat):
    """
    :param y: 1-dimensional array of true target values
    :param y_hat: 1-dimensional array of predicted target values
    :return: AUC score as float
    """
    # your code here

#### c) Diagnostics 2: The ROC Curve

Write a function that takes as input a vector y of the true classes, and a vector yp of the predicted probabilities resulting from the logistic regression, plots the ROC curve of the model, and returns the corresponding AUC score.
Apply your function on your model from a).

In [18]:
def ROC(y, yp):
    """
    :param y: 1-dimensional array of true target values
    :param yp: 1-dimensional array of predicted target probabilities
    :return: AUC score as float
    """
    # your code here

### Example: Regression with Scikit-learn

We briefly introduce the main functionalities of the `scikit-learn` package, which we will be working with in task 2. Once again, we will revisit the Iris dataset and try to predict petal width. Note that there is an extensive documentation on the package: https://scikit-learn.org/stable/documentation.html

In [19]:
from sklearn import datasets

# import the iris dataset - it is actually incorporated in the library
iris = datasets.load_iris()

# recall the details on the dataset
print(iris.DESCR)

.. _iris_dataset:

Iris plants dataset
--------------------

**Data Set Characteristics:**

    :Number of Instances: 150 (50 in each of three classes)
    :Number of Attributes: 4 numeric, predictive attributes and the class
    :Attribute Information:
        - sepal length in cm
        - sepal width in cm
        - petal length in cm
        - petal width in cm
        - class:
                - Iris-Setosa
                - Iris-Versicolour
                - Iris-Virginica

    :Summary Statistics:

    ============== ==== ==== ======= ===== ====================
                    Min  Max   Mean    SD   Class Correlation
    ============== ==== ==== ======= ===== ====================
    sepal length:   4.3  7.9   5.84   0.83    0.7826
    sepal width:    2.0  4.4   3.05   0.43   -0.4194
    petal length:   1.0  6.9   3.76   1.76    0.9490  (high!)
    petal width:    0.1  2.5   1.20   0.76    0.9565  (high!)
    ============== ==== ==== ======= ===== ====================

    :Missing Attribute Values: None
    :Class Distribution: 33.3% for each of 3 classes.
    :Creator: R.A. Fisher
    :Donor: Michael Marshall (MARSHALL%PLU@io.arc.nasa.gov)
    :Date: July, 1988

The famous Iris database, first used by Sir R.A. Fisher. The dataset is taken
from Fisher's paper. Note that it's the same as in R, but not as in the UCI
Machine Learning Repository, which has two wrong data points.

This is perhaps the best known database to be found in the
pattern recognition literature.  Fisher's paper is a classic in the field and
is referenced frequently to this day.  (See Duda & Hart, for example.)  The
data set contains 3 classes of 50 instances each, where each class refers to a
type of iris plant.  One class is linearly separable from the other 2; the
latter are NOT linearly separable from each other.

.. topic:: References

   - Fisher, R.A. "The use of multiple measurements in taxonomic problems"
     Annual Eugenics, 7, Part II, 179-188 (1936); also in "Contributions to
     Mathematical Statistics" (John Wiley, NY, 1950).
   - Duda, R.O., & Hart, P.E. (1973) Pattern Classification and Scene Analysis.
     (Q327.D83) John Wiley & Sons.  ISBN 0-471-22361-1.  See page 218.
   - Dasarathy, B.V. (1980) "Nosing Around the Neighborhood: A New System
     Structure and Classification Rule for Recognition in Partially Exposed
     Environments".  IEEE Transactions on Pattern Analysis and Machine
     Intelligence, Vol. PAMI-2, No. 1, 67-71.
   - Gates, G.W. (1972) "The Reduced Nearest Neighbor Rule".  IEEE Transactions
     on Information Theory, May 1972, 431-433.
   - See also: 1988 MLC Proceedings, 54-64.  Cheeseman et al"s AUTOCLASS II
     conceptual clustering system finds 3 classes in the data.
   - Many, many more ...

#### a) Splitting training and test data

In [20]:
# predict petal width from the previous three columns
# X: Feature matrix, y: target vector
X = iris.data[:, :3]
y = iris.data[:,3]

# sklearn provides various functionalities to crossvalidate model performance
from sklearn.model_selection import train_test_split

# randomly split data into training and test
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.4, random_state = 5)

#### b) Fitting a Model

In [21]:
# main precedure after having chosen the model: initialize, fit and predict
from sklearn.linear_model import LinearRegression

# initialize model - at this point you usually specify all parameters for model optimization
reg = LinearRegression(fit_intercept=True)

# fit: other than in statsmodels, training and test data are passed here
reg.fit(X_train, y_train)

print(reg.coef_)
print(reg.intercept_)

[-0.20236345  0.22293855  0.52714255]
-0.28948872942926074

#### c) Model evaluation

In [22]:
from sklearn.metrics import mean_squared_error, r2_score

# model evaluation -> sklearn also provides many functionalities to mearure the 
# performance of both regressors and classifiers

# apply your model on training data
y_pred = reg.predict(X_test)

print(mean_squared_error(y_test,y_pred))
print(r2_score(y_test,y_pred))

# R² can also directly be computed from the model
print(reg.score(X_test,y_test))

0.034205643946604476
0.9375970738465947
0.9375970738465947

### Task 2: Predicting House Prices from Regularized Regression

In this task we want to utilize the functionalities of `sklearn` to predict house prices in the _Boston House Prices_ dataset that is also conveniently incorporated in `sklearn`. We load the data in the cell below and print its decription. Note that it is in a _bunch_ format, so that the actual data still has to be extracted. Feel free to explore the data yourself.

In [23]:
# load data and its description - feel free to further explore the data yourself
dta = datasets.load_boston()
print(dta.DESCR)

.. _boston_dataset:

Boston house prices dataset
---------------------------

**Data Set Characteristics:**

    :Number of Instances: 506

    :Number of Attributes: 13 numeric/categorical predictive. Median Value (attribute 14) is usually the target.

    :Attribute Information (in order):
        - CRIM     per capita crime rate by town
        - ZN       proportion of residential land zoned for lots over 25,000 sq.ft.
        - INDUS    proportion of non-retail business acres per town
        - CHAS     Charles River dummy variable (= 1 if tract bounds river; 0 otherwise)
        - NOX      nitric oxides concentration (parts per 10 million)
        - RM       average number of rooms per dwelling
        - AGE      proportion of owner-occupied units built prior to 1940
        - DIS      weighted distances to five Boston employment centres
        - RAD      index of accessibility to radial highways
        - TAX      full-value property-tax rate per $10,000
        - PTRATIO  pupil-teacher ratio by town
        - B        1000(Bk - 0.63)^2 where Bk is the proportion of black people by town
        - LSTAT    % lower status of the population
        - MEDV     Median value of owner-occupied homes in $1000's

    :Missing Attribute Values: None

    :Creator: Harrison, D. and Rubinfeld, D.L.

This is a copy of UCI ML housing dataset.
https://archive.ics.uci.edu/ml/machine-learning-databases/housing/


This dataset was taken from the StatLib library which is maintained at Carnegie Mellon University.

The Boston house-price data of Harrison, D. and Rubinfeld, D.L. 'Hedonic
prices and the demand for clean air', J. Environ. Economics & Management,
vol.5, 81-102, 1978.   Used in Belsley, Kuh & Welsch, 'Regression diagnostics
...', Wiley, 1980.   N.B. Various transformations are used in the table on
pages 244-261 of the latter.

The Boston house-price data has been used in many machine learning papers that address regression
problems.

.. topic:: References

   - Belsley, Kuh & Welsch, 'Regression diagnostics: Identifying Influential Data and Sources of Collinearity', Wiley, 1980. 244-261.
   - Quinlan,R. (1993). Combining Instance-Based and Model-Based Learning. In Proceedings on the Tenth International Conference of Machine Learning, 236-243, University of Massachusetts, Amherst. Morgan Kaufmann.

#### a) Splitting training and test data

We want to evaluate our models on some held-out test set. Get predictors and target variable from the bunch object, and split both into training and test set, using a 60/40% split ratio. Make sure your data has been shuffled properly before splitting.

In [24]:
X = dta.data
y = dta.target

In [25]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.4, random_state = 5)

#### b) OLS regression

Fit a simple OLS model on the training data, and compute both MSE and R² score on training and test data. How would you rate the quality of your model?

In [26]:
reg = LinearRegression(fit_intercept=True)
reg.fit(X_train, y_train)
print(reg.coef_)
print(reg.intercept_)

[-1.51279999e-01  2.82887785e-02 -6.29244684e-02  8.23331481e-01
 -1.39235792e+01  4.67395549e+00 -1.58923845e-02 -1.27740666e+00
  2.83464213e-01 -1.09447984e-02 -9.99843506e-01  1.20878933e-02
 -3.69456857e-01]
28.112956567886464

In [106]:
y_pred = reg.predict(X_test)
print(mean_squared_error(y_test,y_pred))
print(r2_score(y_test,y_pred))

29.03195842132499
0.6793836995445848

#### c) Overfitting Polynomial Models

Apply a preprocessing functionality in `sklearn` to extent your predictors to polynomials of degree 3.
Fit a new model on the new training data, and apply it on the new test data. What do you observe regarding the scores on the test data?

In [107]:
from sklearn.preprocessing import PolynomialFeatures

In [109]:
poly = PolynomialFeatures(3)
X = poly.fit_transform(X)

In [111]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.4, random_state = 5)

In [116]:
reg_overfit = LinearRegression(fit_intercept=True)
reg_overfit.fit(X_train, y_train)
reg_overfit.coef_
reg_overfit.intercept_

-680.1888756633148

In [119]:
y_predict_test = reg_overfit.predict(X_test)
y_predict_test
print(mean_squared_error(y_test,y_predict_test))
print(r2_score(y_test,y_predict_test))

10938.964455570189
-119.80515767003959

#### d) Regularization to the Rescue

To ensure that our data generalizes well, we want to apply ridge regression. This however requires that the input data has been scaled properly. Again use a preprocessing functionality in sklearn to scale your data to enable a proper fit. Be careful with the intercept when scaling the data! 

After scaling, fit a ridge regression model using the default parameters, and evaluate the model performance on the test set.
What do you observe?

In [120]:
from sklearn.linear_model import RidgeCV

In [124]:
clf = RidgeCV(alphas=[1e-3, 1e-2, 1e-1, 1], fit_intercept=True).fit(X_train, y_train)
clf.score(X_train, y_train)

0.8833056821465415

#### e) Parameter Optimization

We further want to improve our model by optimizing the regularization weight $\alpha$.
Iterate through a set of potential values $\alpha_i\in[0.001,1000]$, and based on each value $\alpha_i$, perform 10-fold cross-validation on the training set to estimate the performance of a ridge regression model with that regression weight. Determine which value $\alpha$ obtained the best cross-validated R² scores, and use this value to fit a model on the complete training data and evaluate it on the test data.  
Note that `sklearn` also provides a number of handy functionalities to perform cross-validation.