# Exercise 1: Introduction to Pandas

In this exercise, we will work with the pandas library, which is one of the most important Python packages for data analysis and manipulation.  
The documentation of this package can be found here: https://pandas.pydata.org/docs/

In [1]:
import pandas as pd

## Examples: The Iris Dataset

We read in the Iris dataset that we obtained from https://archive.ics.uci.edu/ml/datasets/Iris and walk through a few basic examples.

In [2]:
# read data from a file into a data frame, specify column names by hand
df = pd.read_csv("iris.data", names = ["sepal_length", "sepal_width"," petal_weight", "petal_width", "class"])
df

     sepal_length  sepal_width   petal_weight  petal_width           class
0             5.1          3.5            1.4          0.2     Iris-setosa
1             4.9          3.0            1.4          0.2     Iris-setosa
2             4.7          3.2            1.3          0.2     Iris-setosa
3             4.6          3.1            1.5          0.2     Iris-setosa
4             5.0          3.6            1.4          0.2     Iris-setosa
..            ...          ...            ...          ...             ...
145           6.7          3.0            5.2          2.3  Iris-virginica
146           6.3          2.5            5.0          1.9  Iris-virginica
147           6.5          3.0            5.2          2.0  Iris-virginica
148           6.2          3.4            5.4          2.3  Iris-virginica
149           5.9          3.0            5.1          1.8  Iris-virginica

[150 rows x 5 columns]

#### Accessing rows and columns

In [3]:
# columns can be accessed as attributes
df.sepal_length

0      5.1
1      4.9
2      4.7
3      4.6
4      5.0
      ...
145    6.7
146    6.3
147    6.5
148    6.2
149    5.9
Name: sepal_length, Length: 150, dtype: float64

In [4]:
## rows and columns can be acessed by index as well
# -> use loc to access columns by name
print(df.loc[:,"sepal_length"])

0      5.1
1      4.9
2      4.7
3      4.6
4      5.0
      ...
145    6.7
146    6.3
147    6.5
148    6.2
149    5.9
Name: sepal_length, Length: 150, dtype: float64

In [5]:
# -> use iloc to access columns by numerical index
print(df.iloc[4:,1])

4      3.6
5      3.9
6      3.4
7      3.4
8      2.9
      ...
145    3.0
146    2.5
147    3.0
148    3.4
149    3.0
Name: sepal_width, Length: 146, dtype: float64

In [ ]:
#Training

In [3]:
print(df)

     sepal_length  sepal_width   petal_weight  petal_width           class
0             5.1          3.5            1.4          0.2     Iris-setosa
1             4.9          3.0            1.4          0.2     Iris-setosa
2             4.7          3.2            1.3          0.2     Iris-setosa
3             4.6          3.1            1.5          0.2     Iris-setosa
4             5.0          3.6            1.4          0.2     Iris-setosa
..            ...          ...            ...          ...             ...
145           6.7          3.0            5.2          2.3  Iris-virginica
146           6.3          2.5            5.0          1.9  Iris-virginica
147           6.5          3.0            5.2          2.0  Iris-virginica
148           6.2          3.4            5.4          2.3  Iris-virginica
149           5.9          3.0            5.1          1.8  Iris-virginica

[150 rows x 5 columns]

In [11]:
print(df.iloc[5:8,2])

5    1.7
6    1.4
7    1.5
Name:  petal_weight, dtype: float64

In [12]:
print(df.loc[5:8, "class"])

5    Iris-setosa
6    Iris-setosa
7    Iris-setosa
8    Iris-setosa
Name: class, dtype: object

In [16]:
df.loc[1]

sepal_length             4.9
sepal_width              3.0
 petal_weight            1.4
petal_width              0.2
class            Iris-setosa
Name: 1, dtype: object

#### Advanced selection and built-in functions

In [25]:
# get all rows where sepal length is bigger than 5

dg_filtered = df.loc[df["sepal_length"]>5]
dg_filtered
#df["sepal_length"]>5
#dg_filtered.loc[:5, "sepal_length"]

     sepal_length  sepal_width   petal_weight  petal_width           class
0             5.1          3.5            1.4          0.2     Iris-setosa
5             5.4          3.9            1.7          0.4     Iris-setosa
10            5.4          3.7            1.5          0.2     Iris-setosa
14            5.8          4.0            1.2          0.2     Iris-setosa
15            5.7          4.4            1.5          0.4     Iris-setosa
..            ...          ...            ...          ...             ...
145           6.7          3.0            5.2          2.3  Iris-virginica
146           6.3          2.5            5.0          1.9  Iris-virginica
147           6.5          3.0            5.2          2.0  Iris-virginica
148           6.2          3.4            5.4          2.3  Iris-virginica
149           5.9          3.0            5.1          1.8  Iris-virginica

[118 rows x 5 columns]

In [26]:
df["sepal_length"]>5

0       True
1      False
2      False
3      False
4      False
       ...
145     True
146     True
147     True
148     True
149     True
Name: sepal_length, Length: 150, dtype: bool

In [8]:
# get mean value of petal width
print(df.sepal_length.mean())

5.843333333333334

In [9]:
# get unique class values
print(df["class"].unique())

['Iris-setosa' 'Iris-versicolor' 'Iris-virginica']

## Task 1: Exploring Census Data

In this task we work with the adult dataset, which has been axtracted from a 1994 census dataset.  
A brief documentation can be found here: https://archive.ics.uci.edu/ml/datasets/adult

__a)__ Read in the "adult.csv" file and print its ```head()``` to get a little overview of it. Note that this dataset contains NAs which are encoded as '?' and should be converted accordingly. How many rows and colums does this dataset have?

In [33]:
df = pd.read_csv("adult.csv")
df

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,class
0,?,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48837,39,Private,215419,Bachelors,13,Divorced,Prof-specialty,Not-in-family,White,Female,0,0,36,United-States,<=50K
48838,64,?,321403,HS-grad,9,Widowed,?,Other-relative,Black,Male,0,0,40,United-States,<=50K
48839,38,Private,374983,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,50,United-States,<=50K
48840,44,Private,83891,Bachelors,13,Divorced,Adm-clerical,Own-child,Asian-Pac-Islander,Male,5455,0,40,United-States,<=50K
48841,35,Self-emp-inc,182148,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,60,United-States,>50K

In [36]:
df.loc[:,"hours-per-week"]

0        40
1        13
2        40
3        40
4        40
         ..
48837    36
48838    40
48839    50
48840    40
48841    60
Name: hours-per-week, Length: 48842, dtype: int64

__b)__ Compute the mean 'working time per week'!

In [39]:
mean_working_time = df.loc[:,"hours-per-week"].mean()
mean_working_time

40.422382375824085

__c)__ Give the unique values that occur in the attribute 'education'. Further, give the number of people in the dataset that have obtained each specific education level!

In [77]:
unique_values = df.loc[:,"education"].unique()
print(unique_values)

#df_edu = df.loc[:,"education"]
#print(df_edu)
#df_edu.iloc[2]

#print(df.loc[df["education"]=="Bachelors", "education"].count())


for item in unique_values:
    number = df.loc[df["education"]==item, "education"].count()
    print(item + " :" + str(number))

['Bachelors' 'HS-grad' '11th' 'Masters' '9th' 'Some-college' 'Assoc-acdm'
 'Assoc-voc' '7th-8th' 'Doctorate' 'Prof-school' '5th-6th' '10th'
 '1st-4th' 'Preschool' '12th' 'HS-jupytgrad']
8025
Bachelors :8025
HS-grad :15783
11th :1812
Masters :2657
9th :756
Some-college :10878
Assoc-acdm :1601
Assoc-voc :2061
7th-8th :955
Doctorate :594
Prof-school :834
5th-6th :509
10th :1389
1st-4th :247
Preschool :83
12th :657
HS-jupytgrad :1

__c)__ List all persons with a Bachelor degree as their highest degree, sorted by their ```capital-loss``` in descending order. What is the sum of ```capital-loss``` for these persons?

__d)__ How many males have a bachelor degree as their highest degree?

__e)__ List the 10 youngest persons with a bachelor degree or higher. _Hint: consider the_ ```education-num``` _attribute_.

__f)__ Show for each combination of sex and race, how many instances (people) are contained in the dataset.  _Hint: consider panda's_ ```groupby()``` _function in this as well as in the following subtasks_.

__g)__ What is the mean age of men and women in this dataset?

__h)__ Show for each combination of marital-Status and race how many males/females over 40 years have a bachelor degree as their highest degree?

## Task 2: Organizing a Book and Movie shop

For a virtual shop that sells movies and books, we have four tables:
* ```pd_customers```: Gives first- and lastname for each customer
* ```pd_books```: Gives the raw price for all books that are being sold
* ```pd_movies```: Gives the raw price for all movies that are being sold
* ```pd_transactions```: Gives the list of all transactions being made (which customer bought which item)

__a)__ Load all 4 datasets in separate dataframes!

__b)__  Compile a listing of all items (i.e., books and movies) that have been sold in one of the dataframes.
The resulting dataframe should contain two columns: ```"item_name"``` and ```"price"```. _Hint: consider panda's_ ```concat()``` _function_.

__c)__ Join the information on customer names, transactions, and prices into a single dataframe. _Hint: consider panda's_ ```merge()``` _function_.

__d)__ Compute a table of customers. For all customers give the number of items bought, the total price of these items, and the average price of these items.

__e)__  Round the average price to two digits and export the resulting table to a csv-file!

__f)__ Compute lists of the top 10 bestselling items, both by count and by sum of prices